@model HPCN.UnionOnline.Site.ViewModels.EnrollingUpdateViewModel

@{
    ViewData["Title"] = $"更新报名信息 - {Model.Enrollment.Name}";
}

<h2>@($"更新报名信息 - {Model.Enrollment.Name}")</h2>

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            报名起止
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.BeginTime)
            ~
            @Html.DisplayFor(model => model.Enrollment.EndTime)
        </dd>
        <dt>
            状态
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.Status)
        </dd>
        <dt>
            活动详情
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.Description)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="Update">
        <div class="form-horizontal">
            <h4>参加者信息：</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeNo" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EmployeeNo" class="form-control" readonly />
                    <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EmailAddress" class="form-control" readonly />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <h4>其他信息：</h4>
            <hr />
            @foreach (var f in Model.Enrollment.ExtraFormFields.OrderBy(p => p.DisplayOrder))
            {
                var fieldInput = Model.Enrolling.FieldInputs.SingleOrDefault(fi => fi.FieldEntryId == f.Id);

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        @f.DisplayName

                        @if (f.IsRequired)
                        {
                            <span class="text-danger" title="@f.RequiredMessage">*</span>
                        }
                    </label>
                    <div class="col-md-10">
                        @if (f.ChoiceMode == FieldValueChoiceMode.None)
                        {
                            <input name="FieldInputs.@(f.Id)" title="@f.Name" class="form-control" value="@fieldInput?.Input" />
                        }
                        else
                        {
                            var selectedChoiceValues = (fieldInput?.Input ?? string.Empty).Split(',');
                            var multipleString = f.ChoiceMode == FieldValueChoiceMode.Single ? string.Empty : "multiple";

                            <select name="FieldInputs.@(f.Id)" title="@f.Name" class="form-control" @(multipleString)>
                                @foreach (var choice in f.ValueChoices.OrderBy(c => c.DisplayOrder))
                                {
                                    if (selectedChoiceValues.Contains(choice.Value))
                                    {
                                        <option selected value="@choice.Value">@choice.DisplayText</option>
                                    }
                                    else
                                    {
                                        <option value="@choice.Value">@choice.DisplayText</option>
                                    }
                                }
                            </select>
                        }
                    </div>
                </div>
            }

            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="hidden" asp-for="Enrollment.Id" />
                    <input type="hidden" asp-for="Enrollment.Name" />
                    <input type="submit" value="更新" class="btn btn-default" /> |
                    <a asp-controller="Enrolling" asp-action="Index" title="回到我的报名">返回</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}