@model List<HPCN.UnionOnline.Models.Enrollment>

@{
    ViewData["Title"] = $"活动报名";
    var ongoingActivities = Model.Where(a => a.BeginTime <= DateTime.Now && DateTime.Now <= a.EndTime);
    var notStartedActivities = Model.Where(a => DateTime.Now < a.BeginTime);
    var enrolleesInEnrollments = ViewBag.EnrolleesInEnrollments as Dictionary<Guid, int>;
}

<h2>活动报名</h2>

@if (ongoingActivities.Any())
{
    <div>
        <table class="table">
            <caption><h4>正在报名中的活动：</h4></caption>
            <thead>
                <tr>
                    <th>
                        活动名称
                    </th>
                    <th>报名开始</th>
                    <th>报名截止</th>
                    <th>报名人数限制</th>
                    <th>允许代报名</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ongoingActivities)
                {
                    <tr>
                        <td title="@item.Description">
                            <span>@item.Name</span>
                        </td>
                        <td>
                            @item.BeginTime
                        </td>
                        <td>
                            @item.EndTime
                        </td>
                        <td>
                            @item.MaxCountOfEnrolles (已报人数：@enrolleesInEnrollments[item.Id])
                        </td>
                        <td>
                            @(item.SelfEnrollmentOnly ? "No" : "Yes")
                        </td>
                        <td>
                            <a href="/enrolling/enroll/@item.Id">马上报名</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <p>当前没有正在报名的活动。</p>
}

@if (notStartedActivities.Any())
{
    <hr />
    <div>
        <table class="table">
            <caption><h4>即将开始报名的活动：</h4></caption>
            <thead>
                <tr>
                    <th>
                        活动名称
                    </th>
                    <th>报名开始</th>
                    <th>报名截止</th>
                    <th>报名人数限制</th>
                    <th>允许代报名</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in notStartedActivities)
                {
                    <tr>
                        <td title="@item.Description">
                            <span>@item.Name</span>
                        </td>
                        <td>
                            @item.BeginTime
                        </td>
                        <td>
                            @item.EndTime
                        </td>
                        <td>
                            @item.MaxCountOfEnrolles
                        </td>
                        <td>
                            @(item.SelfEnrollmentOnly ? "No" : "Yes")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}