@model HPCN.UnionOnline.Models.Activity

@{
    ViewData["Title"] = $"{Model.Name}";
}

<h2>当前活动: @Model.Name</h2>

<p>
    从 <strong>@Model.BeginTime</strong> 开始至 <strong> @Model.EndTime </strong>.
</p>

@if (DateTime.Now < Model.BeginTime)
{
    <h4 class="activity-status"><span>此活动尚未开始.</span></h4>
}

@if (Model.EndTime < DateTime.Now)
{
    <h4 class="activity-status"><span>此活动已结束.</span></h4>
}

<div class="products-section">
    <table class="table">
        <thead>
            <tr>
                <th>
                    商品
                </th>
                <th></th>
                <th>
                    积分
                </th>
                <th>
                    自费
                </th>
                <th>
                    数量
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActivityProducts)
            {
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        <img class="product-picture-list" src="../pictures/product/@item.Product.PictureFileName" alt="@item.Product.PictureFileName" />
                    </td>
                    <td>
                        @item.PointsPayment
                    </td>
                    <td>
                        @item.SelfPayment
                    </td>
                    <td>
                        @if (Model.BeginTime <= DateTime.Now && DateTime.Now <= Model.EndTime)
                        {
                            <form asp-action="Add" asp-controller="Cart" method="post">
                                <input type="button" class="btn btn-default" value="-" onclick="subtract(this)" />
                                <input type="number" name="Quantity" class="quantity" value="1" readonly />
                                <input type="button" class="btn btn-default" value="+" onclick="add(this)" />

                                <button class="btn btn-default">加入购物车</button>
                                <input type="hidden" name="ActivityProductId" value="@item.Id" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
