@model HPCN.UnionOnline.Models.CartProduct

@{
    ViewData["Title"] = "删除商品？";
}

<h2>@ViewData["Title"]</h2>

<p>你确定要将此商品从购物车中移除吗？</p>
<hr />
<div>
    <div>
        <img class="product-picture-details" src="~/pictures/product/@Model.ActivityProduct.Product.PictureFileName" alt="@Model.ActivityProduct.Product.PictureFileName" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            商品名称
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityProduct.Product.Name)
        </dd>
        <dt>
            所属活动
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityProduct.Activity.Name)
        </dd>
        <dt>
            数量
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            添加时间
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
    </dl>
    <div>
        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="移除" class="btn btn-default" /> |
                <a asp-action="Index">返回到购物车</a>
            </div>
        </form>
    </div>
</div>
