@model HPCN.UnionOnline.Models.FieldEntry
@inject IOptionsService _optionsService

@{
    ViewData["Title"] = $"编辑表单字段 - {Model.Name}";
}

<h2>编辑表单字段 - @Model.Name</h2>
<p>所属表单：@Model.Enrollment.Name</p>
<hr />

<form asp-action="EditField" method="post">
    <div class="form-horizontal">
        <h4>字段信息</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsRequired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsRequired" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequiredMessage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="RequiredMessage" class="form-control brief-description"></textarea>
                <span asp-validation-for="RequiredMessage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TypeOfValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("TypeOfValue", _optionsService.ListFieldValueTypes().Select(g => new SelectListItem() { Text = g.ToString(), Value = g.ToString() }), new { @class = "form-control" })
                <span asp-validation-for="TypeOfValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChoiceMode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("ChoiceMode", _optionsService.ListFieldValueChoiceModes().Select(g => new SelectListItem() { Text = g.ToString(), Value = g.ToString() }), new { @class = "form-control" })
                <span asp-validation-for="ChoiceMode" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal field-choice-panel">
        <h4>字段值选项</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <hr />
        <div>
            <table id="choices-table" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Value <span class="text-danger">*</span></th>
                        <th>Display Text <span class="text-danger">*</span></th>
                        <th>Display Order</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{var index = 0; }
                    @foreach (var item in Model.ValueChoices.OrderBy(f => f.DisplayOrder))
                    {
                        <tr>
                            <td>@(index + 1)<input type="hidden" name="ValueChoices[@(index)].Id" value="@item.Id" /></td>
                            <td><input name="ValueChoices[@(index)].Value" value="@item.Value" required /></td>
                            <td><input name="ValueChoices[@(index)].DisplayText" value="@item.DisplayText" class="choice-display-text" required /></td>
                            <td><input name="ValueChoices[@(index)].DisplayOrder" value="@item.DisplayOrder" class="choice-display-order" required /></td>
                            <td><input name="ValueChoices[@(index++)].Description" value="@item.Description" class="choice-description" /></td>
                            <td><button onclick="removeRow(this);return false;">Remove</button></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr><td><button onclick="appendRow(this);return false;">+</button></td></tr>
                </tfoot>
            </table>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <input type="hidden" asp-for="Enrollment.Id" />
        <input type="hidden" asp-for="Enrollment.Name" />
        <input type="submit" value="Save" class="btn btn-default" />
        <a asp-action="Fields" asp-route-id="@Model.Enrollment.Id">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_EnrollmentScriptsPartial");
    }
}
